.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.modal-body {
    display: flex;
    position: relative;
    width: 50vw;
    height: 70vh;
    min-height: 40px;
    border-radius: 30px;
    background-color: rgb(238, 196, 234);
    border: 12px solid;
    border-color: rgba(125, 67, 141, 1);
}

.savemod {
    height: 35px;
    width: 35px;
    border-radius: 0 0 0 30px;
    background-color: rgba(125, 67, 141, 1);
    color:rgb(255, 255, 255);
    font-size: large;
    border: 0;
}

.rename {
    margin: 10px;
    font-size: 2.4vw;
}

.mod_el {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add-desc {
    background-color: rgb(125, 67, 141);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    margin-top: .3rem;
    border-radius: 5px;
    border: 0
}

.modal_info {
    width: 80%;
    height: 100%;
    margin: auto auto;
    vertical-align: middle; 
    border-radius: 10px;
  }
  
.modal_info_p {
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    background-color:rgba(240, 248, 255, 0);
    border: 0;
    font-size: 2.5vh;
    margin-top: 2.5rem;
    color: rgb(125, 67, 141)
}

::-webkit-scrollbar {
    background-color: rgb(238, 196, 234);
    border-radius: 7px;
}

::-webkit-scrollbar-button {
    background-color: rgb(125, 67, 141);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(125, 67, 141);
    border-radius: 7px;
}

.modal_input {
    width: 99%;
    height: 99%;
    outline: none;
    resize: none;
    background-color:rgba(240, 248, 255, 0.863);
    font-size: 2.5vh;
    margin-top: 2.5rem;
    color: rgb(125, 67, 141);
    border-radius: 10px;
    border: 3px solid;
    border-color: rgb(125, 67, 141);
}

.modal_cancel-rename {
    background-color: rgb(125, 67, 141);
    color: rgb(255, 255, 255);
    width: 80px;
    height: 30px;
    margin-top: .3rem;
    border-radius: 5px;
    border: 0
}